<h1>{{title}}</h1>
<a href="/term"><button class="btn btn-success mb-2">Manage Terms</button></a><br />
<a href="/program"><button class="btn btn-success mb-2">Manage Programs</button></a><br />
<a href="http://localhost:3000"><button class="btn btn-success mb-2">Return Home</button></a>
