<h1>{{title}}</h1>
<ul>
    {{#if classroomList.length}}
        {{#each classroomList}}
            <li>{{this.roomNumber}}</li>
        {{/each}}
    {{else}}
        <li>No classrooms in Database</li>
    {{/if}}
</ul>
<a class="btn btn-outline-success" href="/">Go Back</a>
