<h1>{{title}}</h1>
{{#if classroomList.length}}
    {{#each classroomList}}
        <li>Room number: {{this.roomNumber}} Location: {{this.location}}</li>
    {{/each}}
{{else}}
    <p>There are currently no classrooms in the system</p>
{{/if}}
<a class="btn btn-outline-success" href="/">Go Back</a>
