

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<!--<a href="/course-offering" class="btn button-primary">View Course Offerings</a>-->
<a href="/course-offering"><button class="btn btn-success">View Course Offerings</button></a>
<a href="/classroom"><button class="btn btn-success">View Classrooms</button></a>

