<div class="d-flex flex-column justify-content-end vh-100 py-5 w-100">
    <h1 class="position-absolute display-1 w-100 text-center" style="top: 0%;">CST Scheduler</h1>
    <div class="d-flex flex-column mb-2" style="gap: 24px;">
        <a href="/administration" class="btn btn-success btn-lg w-50 py-lg-5 py-sm-4">Administration</a>
        <a href="#" class="btn btn-success btn-lg w-50 py-lg-5 py-sm-4 ">Schedule Courses</a>
        <a href="#" class="btn btn-success btn-lg w-50 py-lg-5 py-sm-4">Reports</a>
        <div class="d-flex align-items-center w-50" style="gap: 24px;">
            <a href="#" class="btn btn-success  w-50 py-sm-3 py-lg-4">About</a>
            <a href="#" class="btn btn-success w-50 py-sm-3 py-lg-4">Exit</a>
        </div>
    </div>
</div>
