
<button id="redirectButton">List Classrooms</button>
<script>
    document.getElementById("redirectButton").addEventListener("click", function() {
      window.location.href = "/classroom.hbs"
    });
</script>
