<!--<div  class="h-100 m-0" style="background-image: url('Fancy.png'); background-repeat: no-repeat; background-size: 100% 100%">-->
<!--</div>-->
<h1 class="display-1 w-100 text-center text-primary" style="top: 0%;">CST Scheduler</h1>
<div class="container">
    <h2>Quick Start Guide</h2>
    <h5>Administration</h5>
    <p>
        To get started, expand the "Administration" tab, and create Classrooms, Instructors, Programs, and Terms.<br/>
        Once those are completed, create Courses from the same "Administration" tab, which will require
        Instructors.<br/>
        The last thing to create in the "Administration" tab is Course Offerings, which will use Courses, Terms,
        Programs, and Instructors that you have created.<br/>
        A big feature of this over previous CST Scheduler Applications is the idea of reusable Courses. A Course is maintained between years,
        and a Course Offering copies information from a Course, and is tied to a specific Term. So, when starting a new year, the only thing
        that needs to be recreated is Terms and Course Offerings. Terms does have an option to autogenerate Course Offerings, to make this
        even easier.<br/>
    </p>
    <h5>Schedule Builder</h5>
    <p>
        The next step is to hit the "Schedule Builder" tab, and select the Term, Program, and number of groups you want
        to schedule.<br/>
        The Schedule Builder will show on the right A dropdown for Classroom and a list of Course Offerings.<br/>
        The selected classroom is which one you are currently scheduling, and can be changed for different course
        offerings within a group.<br/>
        To schedule a course offering, click on it, so that it is selected. When a course offering is selected, any cell
        within the schedule
        that is clicked on will schedule the selected Course Offering for that time with the classroom that is also
        selected.<br/>
        To change an already booked Timeslot, just change your selected Course Offering and/or Classroom, and click on
        the cell that you want to change
        and the program will edit that booked timeslot for you.<br/>
        To delete a booked Timeslot, simply just right-click the cell. <br/>
        The Schedule Builder automatically saves on every change, so saving your work is not needed.<br/>
    </p>
    <h5>Reports</h5>
    <p>
        Once the Schedule is created, navigate to the "Reports" tab <br/>
        For Classroom reports, select a Classroom and Term to generate a report for.<br/>
        The Classroom Reports automatically combines Year 1 and Year 2 terms, so simply
        select the Term Season and Year, and the report will combine it for you.<br/>
        For Instructor Reports, select an Instructor and Term to generate a report for.<br/>
        The Instructor Reports automatically combines Year 1 and Year 2 terms, so simply
        select the Term Season and Year, and the report will combine it for you.<br/>
        For Instructor Hours Reports, simply select the Term to generate a report for and the
        program will create a report listing all instructors and the Primary Instructor Hours, Alternative
        Instructor Hours, and Total Hours for that Term. This report combines year 1 and year 2 terms automatically<br/>
        For Program Reports, select the Term, Program, and Group to generate a report for.<br/>
        This report will select all booked Timeslots that use that Term and Program,
        and have the selected group.<br/>
    </p>
    <h5>Conflicts</h5>
    <p>
        Information coming soon
    </p>
    <h5>Exit</h5>
    <p>
        To exit, simply hit the "Exit" tab, or close it down like a regular program. This program automatically
        saves on every change, so there is no need to save your work.
    </p>
</div>
