<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel='stylesheet' href='/bw/lux/bootstrap.css'/>
  </head>
      <body>
          <div class="container-fluid">
            {{{body}}}
          </div>
      </body>
</html>
