<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/bw/lux/bootstrap.css'/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-expand-lg bg-body-tertiary px-5 p-2">
    <div class="container-fluid">
        <a class="navbar-brand" href="http://localhost:3000/#">CST Scheduler</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04" aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor04">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a id="homeBtn" class="nav-link active" href="http://localhost:3000/#">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link active" href="http://localhost:3000/schedule">Schedule Builder
                        <span class="visually-hidden">(current)</span>
                    </a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administration</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/classroom">Classroom</a>
                        <a class="dropdown-item" href="/course">Course</a>
                        <a class="dropdown-item" href="/courseOffering">Course Offerings</a>
                        <a class="dropdown-item" href="/instructor">Instructor</a>
                        <a class="dropdown-item" href="/program">Program</a>
                        <a class="dropdown-item" href="/term">Term</a>
                    </div>
                </li>

                <li class="nav-item dropdown" id="reportDropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Reports</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/classroomReport" id="navClassroomReport">Classroom Report</a>
                        <a class="dropdown-item" href="/classroomConflictReport" id="navClassroomConflictReport">Classroom Conflict Report</a>
                        <a class="dropdown-item" href="/instructorReport">Instructor Report</a>
                        <a class="dropdown-item" href="/programReport">Program Report</a>
                    </div>
                </li>
                <li class="nav-item">
                <a class="nav-link active" id="exit" href="http://localhost:3000/#">Exit
                    <span class="visually-hidden">(current)</span>
                </a>
                    <script>
                        document.getElementById('exit').addEventListener('click', (e) => {
                            e.preventDefault();
                            window.location.href = 'app://exit';
                        });
                    </script>
            </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <body>
    <div class="container-fluid p-4">
        {{{body}}}
    </div>
    </body>
</div>
