<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel='stylesheet' href='/bw/lux/bootstrap.css'/>
      <!-- Bootstrap JS and jQuery libraries -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
      <body>
          <div class="container">
            {{{body}}}
          </div>
      </body>
</html>
