<div>
    <div id="modal">

    </div>
    <div id="main">
        <!--change this to a loop later-->
        <div id="tabBar">

        </div>
        {{#each groups}}
            <div id="group{{this}}">
                <div id="calender{{this}}">

                </div>
                <div id="courseList{{this}}">

                </div>
            </div>
        {{/each}}

    </div>
</div>