<h1>Term Listings</h1>
<table>
    <tr>
        <th>Term Number</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>
<!--Here is where I need to loop through my array object and add in a <tr> for each loop, and a <td> for each cell-->
    <tr></tr>
</table>
